@font-face { 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Lato-Lig.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato-Reg.ttf');
}

body {
	background: #5d6469;
}

.tips {
	color: white;
}

ol {
	padding: 20px;
	font-weight: 300;

	li {
		margin-bottom: 10px;

		&:last-child {
			margin: 0;
		}
	}
}

.tips-title {
	font-weight: 300;
}

.tips-end-title {
	margin: 15px 0 40px;
	font-weight: 300;
	text-align: center;

	span {
		color: #00d3aa;
	}
}